body{
    background-color: rgb(251, 207, 214);
    text-align: center;
}
h1{
    color: brown;
    margin-bottom: 20px;
}
#btn{
    font-size: medium;
    width: 120px;
    height: 30px;
    background-color: brown;
    color: white;
    border: 1px solid brown;
    border-radius: 2px;
}
input{
    width: 150px;
    height: 30px;
    border: 1px solid rgb(189, 63, 63);
    border-radius: 2px;
    text-align: center;
}
h3{
    color: brown;
}
p{
    color: rgb(252, 252, 252);
}
.post{
    margin: 20px 150px;
    border: 1px dashed brown;
}